#############
# SHARED ENV VARIABLES
#############

# required if running locally with MARBLE_APP_HOST=localhost:XXXX (some features will be broken if running with localhost and ENV=production)
ENV=development

# Firebase options
# The distinction between client and server is necessary when running in docker-compose because
# the backend image does not have access to localhost, while the client (browser) does not know
# the hostname of the backend. In a production environment, both can be left empty
FIREBASE_AUTH_EMULATOR_HOST_CLIENT=localhost:9099
FIREBASE_AUTH_EMULATOR_HOST_SERVER=firebase-auth:9099
FIREBASE_AUTH_EMULATOR_PORT=9099

# Front end host, for CORS settings & links to decisions
MARBLE_APP_HOST=localhost:3000

# Used:
# - by the firebase sdk to validate the id tokens
# - by the opentelemetry tracing agent to send traces to the collector
# Leave the "test-project" value if you are using the firebase emulator
GOOGLE_CLOUD_PROJECT=test-project

# Required for authentication if you are running with a real firebase app and cloud storage bucket, outside of a GCP environment
# Also required if you are running in a GCP environment and want to use GCS as a document storage backend
GOOGLE_APPLICATION_CREDENTIALS=

SENTRY_DSN=


#############
# BACKEND ENV VARIABLES
#############

LICENSE_KEY=

# port the docker container listens on on host side
HOST_API_PORT=8080
# port the servers listens on
API_PORT=8080
# input RSA PRIVATE KEY for token signing (or a new one will be generated at every server start)
AUTHENTICATION_JWT_SIGNING_KEY=

# Enable to activate GCP tracing
# If activated, you MUST have GCP application default credentials set up - see https://cloud.google.com/trace/docs/setup/go-ot
# Will send error logs (but the app will still run) if an unexisting project is specified in GOOGLE_CLOUD_PROJECT or 
# if the runner does not have the correct permissions to use tracing on the project
ENABLE_GCP_TRACING=false

# 'liveness' (only log liveness requests) || 'all' (log all requests) || 'none' for no request logs
REQUEST_LOGGING_LEVEL=all
# 'json' || 'text'
LOGGING_FORMAT=text


# Env variables for the postgresql database
PG_HOSTNAME=db
PG_PORT=54321
PG_PASSWORD=marble

# Configure the document storage backend
# The options are
# - "file://{path}?create_dir=true"
#    - for LOCAL TEST only, not fully compatible with all features - create_dir not required if the folder exists)
#    - see https://pkg.go.dev/gocloud.dev/blob/fileblob#URLOpener for details on the format
# - "gs://{bucket_name}"
# - "s3://{bucket_name}"
# - "azblob://{bucket_name}"
# See https://gocloud.dev/howto/blob/ for details.
# Using a Google Cloud Storage (gs://) bucket backend additionally requires that a service account key be present in the file pointed 
# to by GOOGLE_APPLICATION_CREDENTIALS. This is because with GCS, a private key from a service account key must be present to return signed urls.
# In all cases, credentials discovery is done automatically according to each provider's usual practices (env variables, 
# credentials file, metadata server...)
INGESTION_BUCKET_URL="file:///tempFiles/data-ingestion-bucket?create_dir=true"
CASE_MANAGER_BUCKET_URL="file:///tempFiles/case-manager-bucket?create_dir=true"

# Othe dependency configurations
SEGMENT_WRITE_KEY_BACKEND=UgkImFmHmBZAWh5fxIKBY3QtvlcBrhqQ

# Metabase configuration
METABASE_SITE_URL="https://your_subdomain.metabaseapp.com"
METABASE_JWT_SIGNING_KEY="dummy"
METABASE_GLOBAL_DASHBOARD_ID=123

# Used to create a first default admin user if no user exists with this email (not attached to any organization)
CREATE_GLOBAL_ADMIN_EMAIL=admin@checkmarble.com
# Used to create an organization if no organization exists with this name
CREATE_ORG_NAME=Zorg
# Used to create a first organization admin if no user exists with this email (must be different from CREATE_GLOBAL_ADMIN_EMAIL)
CREATE_ORG_ADMIN_EMAIL=jbe@zorg.com

METABASE_SITE_URL="https://your_subdomain.metabaseapp.com"
METABASE_JWT_SIGNING_KEY="dummy"
METABASE_GLOBAL_DASHBOARD_ID=123

# Configure access to the Open Sanctions API to use sanction checks
#
# If you use the SaaS Open Sanctions API, only uncomment OPENSANCTIONS_API_KEY and provide its values.
# If you self-host the API, uncomment all relevant settings to point to your deployment and configure authentication.
#  - OPENSANCTIONS_AUTH_METHOD supports 'bearer' and 'basic'
#    If basic, provide the username and password in the form of 'user:password'
# OPENSANCTIONS_API_HOST=http://self.hosted.local
# OPENSANCTIONS_AUTH_METHOD=bearer
# OPENSANCTIONS_API_KEY=

# BATCH_TIMEOUT_SECOND=55
# DECISION_TIMEOUT_SECOND=10
# DEFAULT_TIMEOUT_SECOND=5

#############
# FRONT END ENV VARIABLES
#############
NODE_ENV=production

# port the docker container listens on on host side
HOST_APP_PORT=3000
# port the servers listens on
APP_PORT=3000

# replace me in a production environment
SESSION_SECRET=SESSION_SECRET
SESSION_MAX_AGE=43200

MARBLE_API_DOMAIN_CLIENT=http://localhost:8080
MARBLE_API_DOMAIN_SERVER=http://api:8080
MARBLE_APP_DOMAIN=http://localhost:3000

# if you make use of the auth emulator, you can leave the dummy values
FIREBASE_API_KEY=dummy
FIREBASE_AUTH_DOMAIN=dummy
FIREBASE_PROJECT_ID=dummy
FIREBASE_STORAGE_BUCKET=dummy
FIREBASE_MESSAGING_SENDER_ID=dummy
FIREBASE_APP_ID=dummy

# Othe dependency configurations
SEGMENT_WRITE_KEY_BACKEND=hC8qrY2OLhUpl1Xycw523tbuClxlQR6u
