*/service-account-key/*
*/*terraform.tfstate.d*/*
**/.terraform/*
**/.terraform.lock.hcl
**/locals_environments.prod.tf
**/config/*
/kubernetes/**/*.tgz

.DS_Store
.vscode/*
.vscode/
.secrets
key.json
.env
.env.dev
